doctype html
html

  head
    title Github Webscraper
    link(rel='stylesheet', href='styles/main.css')

  body

    h1 Hello

    include templates/userInfo.pug

    script(src="/lib/jquery/dist/jquery.min.js")
